In [1]:
import base64
import datetime
import json
import os
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim

We found student's assessment data for the state of california.  The data contains summary columns and detail columns.
It contains state summary data, County summary data and District summary data as well as detailed per school.
Since our analysis will be done at the District level, we created a script to read the assessment data and extract only the district summary data.

Which meant removing state and county data as well as school detailed data.
The file has 3 main columns that function as index.
County Code   Distric Code  School Code
00            00000         0000000       - This is the State Data
01 - 58       00000         0000000       - This is the County Summary Data
01-58         Various       0000000       - This is the District data which we are interested in
01-58         Various       Various       - This is the data per school

In [ ]:
file1 = open('commondata/sb_ca2017_all_csv_v2.txt', 'r') 
Lines = file1.readlines()
file2 = open('cleaneddata.txt', 'w') 
for x in range(0,3264975):
    #pdb.set_trace()
    #pdb.set_trace()
    if "County Code" in Lines[x].split(",")[0]:
        print(Lines[x])
        file2.writelines(Lines[x]) 
    elif '"00"' == Lines[x].split(",")[0]:
        continue
    elif '"00000"' == Lines[x].split(",")[1]:
        #then skip
        continue
    elif '"0000000"' != Lines[x].split(",")[2]:
        continue
        #then skip
        #file2.writelines(Lines[x])
        #print(Lines[x])
    #print(Lines[x])
    file2.writelines(Lines[x])

Afterwards we created a data frame with the new cleaned data.
The data we have for assessment has information on the Grades and also has a subgroup code which has ethnic and other groups information which we will need to separate.

In [4]:

# Read the data file and take a look at the data
df = pd.read_csv('cleaneddata.txt', sep=",")

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,1,2,3,4,5,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head(100)

,County Code,District Code,School Code,Filler,Test Year,Subgroup ID,Test Type,Total Tested At Entity Level,Total Tested with Scores,Grade,...,Area 1 Percentage Below Standard,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard
0,County Code,District Code,School Code,Filler,Test Year,Subgroup ID,Test Type,Total Tested At Entity Level,Total Tested with Scores,Grade,...,Area 1 Percentage Below Standard,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard
1,01,10017,0000000,NaN,2017,1,B,51,51,6,...,*,*,*,*,*,*,*,*,*,*
2,01,10017,0000000,NaN,2017,1,B,44,44,6,...,*,*,*,*,*,*,*,*,*,*
3,01,10017,0000000,NaN,2017,1,B,51,51,7,...,*,*,*,*,*,*,*,*,*,*
4,01,10017,0000000,NaN,2017,1,B,44,44,7,...,*,*,*,*,*,*,*,*,*,*
5,01,10017,0000000,NaN,2017,1,B,44,44,8,...,*,*,*,*,*,*,*,*,*,*
6,01,10017,0000000,NaN,2017,1,B,51,51,8,...,*,*,*,*,*,*,*,*,*,*
7,01,10017,0000000,NaN,2017,1,B,51,51,11,...,97.67,0.00,13.95,86.05,0.00,46.51,53.49,0.00,0.00,0.00
8,01,10017,0000000,NaN,2017,1,B,44,44,11,...,70.27,2.70,13.51,83.78,5.26,42.11,52.63,0.00,21.62,78.38
9,01,10017,0000000,NaN,2017,1,B,51,51,13,...,98.00,0.00,12.00,88.00,0.00,42.00,58.00,0.00,0.00,0.00
10,01,10017,0000000,NaN,2017,1,B,44,44,13,...,74.42,2.33,11.63,86.05,4.55,38.64,56.82,0.00,18.60,81.40
11,01,10017,0000000,NaN,2017,3,B,30,30,6,...,*,*,*,*,*,*,*,*,*,*
12,01,10017,0000000,NaN,2017,3,B,36,36,6,...,*,*,*,*,*,*,*,*,*,*
13,01,10017,0000000,NaN,2017,3,B,36,36,7,...,*,*,*,*,*,*,*,*,*,*
14,01,10017,0000000,NaN,2017,3,B,30,30,7,...,*,*,*,*,*,*,*,*,*,*
15,01,10017,0000000,NaN,2017,3,B,36,36,8,...,*,*,*,*,*,*,*,*,*,*
16,01,10017,0000000,NaN,2017,3,B,30,30,8,...,*,*,*,*,*,*,*,*,*,*
17,01,10017,0000000,NaN,2017,3,B,30,30,11,...,68.00,4.00,4.00,92.00,3.85,38.46,57.69,0.00,16.00,84.00
18,01,10017,0000000,NaN,2017,3,B,36,36,11,...,96.67,0.00,13.33,86.67,0.00,46.67,53.33,0.00,0.00,0.00
19,01,10017,0000000,NaN,2017,3,B,36,36,13,...,97.14,0.00,11.43,88.57,0.00,42.86,57.14,0.00,0.00,0.00
20,01,10017,0000000,NaN,2017,3,B,30,30,13,...,72.41,3.45,3.45,93.10,3.33,36.67,60.00,0.00,13.79,86.21
21,01,10017,0000000,NaN,2017,4,B,15,15,7,...,*,*,*,*,*,*,*,*,*,*
22,01,10017,0000000,NaN,2017,4,B,14,14,7,...,*,*,*,*,*,*,*,*,*,*
23,01,10017,0000000,NaN,2017,4,B,15,15,8,...,*,*,*,*,*,*,*,*,*,*
24,01,10017,0000000,NaN,2017,4,B,14,14,8,...,*,*,*,*,*,*,*,*,*,*
25,01,10017,0000000,NaN,2017,4,B,15,15,11,...,100.00,0.00,15.38,84.62,0.00,46.15,53.85,0.00,0.00,0.00
26,01,10017,0000000,NaN,2017,4,B,14,14,11,...,75.00,0.00,33.33,66.67,8.33,50.00,41.67,0.00,33.33,66.67
27,01,10017,0000000,NaN,2017,4,B,15,15,13,...,100.00,0.00,13.33,86.67,0.00,40.00,60.00,0.00,0.00,0.00
28,01,10017,0000000,NaN,2017,4,B,14,14,13,...,78.57,0.00,28.57,71.43,7.14,42.86,50.00,0.00,28.57,71.43
29,01,10017,0000000,NaN,2017,6,B,40,40,6,...,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,01,10017,0000000,NaN,2017,76,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
71,01,10017,0000000,NaN,2017,76,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
72,01,10017,0000000,NaN,2017,76,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
73,01,10017,0000000,NaN,2017,77,B,*,*,7,...,*,*,*,*,*,*,*,*,*,*
74,01,10017,0000000,NaN,2017,77,B,*,*,7,...,*,*,*,*,*,*,*,*,*,*
75,01,10017,0000000,NaN,2017,77,B,*,*,8,...,*,*,*,*,*,*,*,*,*,*
76,01,10017,0000000,NaN,2017,77,B,*,*,8,...,*,*,*,*,*,*,*,*,*,*
77,01,10017,0000000,NaN,2017,77,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
78,01,10017,0000000,NaN,2017,77,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
79,01,10017,0000000,NaN,2017,77,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
80,01,10017,0000000,NaN,2017,77,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
81,01,10017,0000000,NaN,2017,78,B,20,20,6,...,*,*,*,*,*,*,*,*,*,*
82,01,10017,0000000,NaN,2017,78,B,15,15,6,...,*,*,*,*,*,*,*,*,*,*
83,01,10017,0000000,NaN,2017,78,B,15,15,7,...,*,*,*,*,*,*,*,*,*,*
84,01,10017,0000000,NaN,2017,78,B,20,20,7,...,*,*,*,*,*,*,*,*,*,*
85,01,10017,0000000,NaN,2017,78,B,15,15,8,...,*,*,*,*,*,*,*,*,*,*
86,01,10017,0000000,NaN,2017,78,B,20,20,8,...,*,*,*,*,*,*,*,*,*,*
87,01,10017,0000000,NaN,2017,78,B,20,20,11,...,100.00,0.00,25.00,75.00,0.00,56.25,43.75,0.00,0.00,0.00
88,01,10017,0000000,NaN,2017,78,B,15,15,11,...,58.33,0.00,25.00,75.00,8.33,50.00,41.67,0.00,33.33,66.67
89,01,10017,0000000,NaN,2017,78,B,15,15,13,...,66.67,0.00,20.00,80.00,6.67,40.00,53.33,0.00,26.67,73.33
90,01,10017,0000000,NaN,2017,78,B,20,20,13,...,100.00,0.00,20.00,80.00,0.00,50.00,50.00,0.00,0.00,0.00
91,01,10017,0000000,NaN,2017,79,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
92,01,10017,0000000,NaN,2017,79,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
93,01,10017,0000000,NaN,2017,79,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
94,01,10017,0000000,NaN,2017,79,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
95,01,10017,0000000,NaN,2017,80,B,*,*,8,...,*,*,*,*,*,*,*,*,*,*
96,01,10017,0000000,NaN,2017,80,B,*,*,8,...,*,*,*,*,*,*,*,*,*,*
97,01,10017,0000000,NaN,2017,80,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
98,01,10017,0000000,NaN,2017,80,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
99,01,10017,0000000,NaN,2017,80,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*

In [6]:
#We will drop the first row since it is duplicating the column names
df.drop([0], axis=0, inplace=True)

In [7]:
#We will drop the filler column, this column has no information, it is only blank spaces
df.drop(['Filler'], axis=1 , inplace = True)

In [8]:
#since we have district summary data, the school code of 0000000 is not useful, and we will remove that column
df.drop(['School Code'], axis=1, inplace = True)

In [9]:
df.columns

Index(['County Code', 'District Code', 'Test Year', 'Subgroup ID', 'Test Type',
       'Total Tested At Entity Level', 'Total Tested with Scores', 'Grade',
       'Test Id', 'CAASPP Reported Enrollment', 'Students Tested',
       'Mean Scale Score', 'Percentage Standard Exceeded',
       'Percentage Standard Met', 'Percentage Standard Met and Above',
       'Percentage Standard Nearly Met', 'Percentage Standard Not Met',
       'Students with Scores', 'Area 1 Percentage Above Standard',
       'Area 1 Percentage Near Standard', 'Area 1 Percentage Below Standard',
       'Area 2 Percentage Above Standard', 'Area 2 Percentage Near Standard',
       'Area 2 Percentage Below Standard', 'Area 3 Percentage Above Standard',
       'Area 3 Percentage Near Standard', 'Area 3 Percentage Below Standard',
       'Area 4 Percentage Above Standard', 'Area 4 Percentage Near Standard',
       'Area 4 Percentage Below Standard'],
      dtype='object')

In [10]:
df.drop(['Area 1 Percentage Above Standard',
       'Area 1 Percentage Near Standard', 'Area 1 Percentage Below Standard',
       'Area 2 Percentage Above Standard', 'Area 2 Percentage Near Standard',
       'Area 2 Percentage Below Standard', 'Area 3 Percentage Above Standard',
       'Area 3 Percentage Near Standard', 'Area 3 Percentage Below Standard',
       'Area 4 Percentage Above Standard', 'Area 4 Percentage Near Standard',
       'Area 4 Percentage Below Standard'], axis=1, inplace=True)

In [11]:
df.columns

Index(['County Code', 'District Code', 'Test Year', 'Subgroup ID', 'Test Type',
       'Total Tested At Entity Level', 'Total Tested with Scores', 'Grade',
       'Test Id', 'CAASPP Reported Enrollment', 'Students Tested',
       'Mean Scale Score', 'Percentage Standard Exceeded',
       'Percentage Standard Met', 'Percentage Standard Met and Above',
       'Percentage Standard Nearly Met', 'Percentage Standard Not Met',
       'Students with Scores'],
      dtype='object')

In [12]:
df.drop(['Test Year','Test Type','Total Tested At Entity Level','Total Tested with Scores'], axis=1, inplace=True)

In [13]:
#then we will reset the index and drop index column
df=df.reset_index()
df.head()

,index,County Code,District Code,Subgroup ID,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores
0,1,01,10017,1,6,2,*,*,*,*,*,*,*,*,*
1,2,01,10017,1,6,1,*,*,*,*,*,*,*,*,*
2,3,01,10017,1,7,2,*,*,*,*,*,*,*,*,*
3,4,01,10017,1,7,1,*,*,*,*,*,*,*,*,*
4,5,01,10017,1,8,1,*,*,*,*,*,*,*,*,*

In [14]:
df.drop(['index'], axis = 1, inplace=True)
df.head()

,County Code,District Code,Subgroup ID,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores
0,01,10017,1,6,2,*,*,*,*,*,*,*,*,*
1,01,10017,1,6,1,*,*,*,*,*,*,*,*,*
2,01,10017,1,7,2,*,*,*,*,*,*,*,*,*
3,01,10017,1,7,1,*,*,*,*,*,*,*,*,*
4,01,10017,1,8,1,*,*,*,*,*,*,*,*,*

In [15]:
df=df.apply(pd.to_numeric, errors='coerce')

In [16]:
#when we run the df Grade unique code we saw that there were grades in text and others in numbers, so we replaced the values to be all numbers

#df['Grade'].replace(to_replace ="6", value =6, inplace=True) 
#df['Grade'].replace(to_replace ="7", value =7, inplace=True)
#df['Grade'].replace(to_replace ="8", value =8, inplace=True)
#df['Grade'].replace(to_replace ="11", value =11, inplace=True)
#df['Grade'].replace(to_replace ="4", value =4, inplace=True)
#df['Grade'].replace(to_replace ="5", value =5, inplace=True)
#df['Grade'].replace(to_replace ="3", value =3, inplace=True)
#df['Grade'].replace(to_replace ="13", value =13, inplace=True)

In [16]:
df['Grade'].unique()

array([ 6,  7,  8, 11, 13,  4,  5,  3])

In [17]:
df.astype({'Grade': 'int64'}).dtypes

County Code                            int64
District Code                          int64
Subgroup ID                            int64
Grade                                  int64
Test Id                                int64
CAASPP Reported Enrollment           float64
Students Tested                      float64
Mean Scale Score                     float64
Percentage Standard Exceeded         float64
Percentage Standard Met              float64
Percentage Standard Met and Above    float64
Percentage Standard Nearly Met       float64
Percentage Standard Not Met          float64
Students with Scores                 float64
dtype: object

In [176]:
df['Grade'].dtype

dtype('int64')

In [18]:
df['Subgroup ID'].dtype

dtype('int64')

In [19]:
df['Subgroup ID'].unique()

array([  1,   3,   4,   6,   7,   8,  31,  74,  76,  77,  78,  79,  80,
        90,  91,  92,  93,  94,  99, 111, 121, 128, 142, 144, 160, 170,
       180, 200, 202, 204, 205, 206, 207, 220, 222, 223, 224, 225, 226,
       227, 120, 203,  75, 201, 221, 190,  28])

In [20]:
df['County Code'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58])

In [33]:
df.head(29)

,County Code,District Code,Subgroup ID,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores
0,1,10017,1,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10017,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10017,1,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,10017,1,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,10017,1,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,10017,1,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,10017,1,11,2,151.0,44.0,2412.8,0.0,0.00,0.00,4.55,95.45,44.0
7,1,10017,1,11,1,150.0,38.0,2435.4,0.0,5.26,5.26,21.05,73.68,38.0
8,1,10017,1,13,2,177.0,51.0,NaN,0.0,0.00,0.00,3.92,96.08,51.0
9,1,10017,1,13,1,175.0,44.0,NaN,0.0,4.55,4.55,18.18,77.27,44.0
10,1,10017,3,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,10017,3,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1,10017,3,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,10017,3,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,10017,3,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,10017,3,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1,10017,3,11,1,96.0,26.0,2423.2,0.0,3.85,3.85,19.23,76.92,26.0
17,1,10017,3,11,2,96.0,31.0,2407.4,0.0,0.00,0.00,6.45,93.55,31.0
18,1,10017,3,13,2,117.0,36.0,NaN,0.0,0.00,0.00,5.56,94.44,36.0
19,1,10017,3,13,1,116.0,30.0,NaN,0.0,3.33,3.33,16.67,80.00,30.0
20,1,10017,4,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1,10017,4,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1,10017,4,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1,10017,4,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,10017,4,11,2,55.0,13.0,2425.5,0.0,0.00,0.00,0.00,100.00,13.0
25,1,10017,4,11,1,54.0,12.0,2461.8,0.0,8.33,8.33,25.00,66.67,12.0
26,1,10017,4,13,2,60.0,15.0,NaN,0.0,0.00,0.00,0.00,100.00,15.0
27,1,10017,4,13,1,59.0,14.0,NaN,0.0,7.14,7.14,21.43,71.43,14.0
28,1,10017,6,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df_subgroups= pd.read_csv('Subgroups.txt', sep=',')
df_subgroups = df_subgroups.set_index('id')

In [35]:
df_subgroups

,subgroup_id,subgroup_definition,subgroup_type
id,,,
1,1,"""All Students""","""All Students"""
3,3,"""Males""","""Gender"""
4,4,"""Females""","""Gender"""
6,6,"""Fluent-English Proficient and English Only""","""English-Language Fluency"""
7,7,"""Initially-Fluent English Proficient (IFEP)""","""English-Language Fluency"""
8,8,"""Reclassified-Fluent English Proficient (RFEP)""","""English-Language Fluency"""
28,28,"""Education""","""Migrant"""
31,31,"""EconomicallMigranty Disadvantaged""","""Economic Status"""
74,74,"""Black or African American""","""Ethnicity"""
75,75,"""American Indian or Alaska Native""","""Ethnicity"""
76,76,"""Asian""","""Ethnicity"""
77,77,"""Filipino""","""Ethnicity"""
78,78,"""Hispanic or Latino""","""Ethnicity"""
79,79,"""Native Hawaiian or Pacific Islander""","""Ethnicity"""
80,80,"""White""","""Ethnicity"""
90,90,"""Not a High School Graduate""","""Parent Education"""
91,91,"""High School Graduate""","""Parent Education"""
92,92,"""Some College (Includes AA Degree)""","""Parent Education"""
93,93,"""College Graduate""","""Parent Education"""
94,94,"""Graduate School/Post Graduate""","""Parent Education"""
99,99,"""Students with No Reported Disability""","""Disability Status"""
111,111,"""Not Economically Disadvantaged""","""Economic Status"""
120,120,"""English Learners Enrolled in School in the U...","""English-Language Fluency"""
121,121,"""Parent Education -- Declined to State""","""Parent Education"""
128,128,"""Students with Disability""","""Disability Status"""
142,142,"""English Learners Enrolled in School in the U...","""English-Language Fluency"""
144,144,"""Ethnicity -- Two or More Races""","""Ethnicity"""
160,160,"""English Learner""","""English-Language Fluency"""
170,170,"""Ever-ELs""","""English-Language Fluency"""
180,180,"""English Only""","""English-Language Fluency"""
190,190,"""To Be Determined (TBD)""","""English-Language Fluency"""
200,200,"""Black or African American""","""Ethnicity for Economically Disadvantaged"""
201,201,"""American Indian or Alaska Native""","""Ethnicity for Economically Disadvantaged"""
202,202,"""Asian""","""Ethnicity for Economically Disadvantaged"""
203,203,"""Filipino""","""Ethnicity for Economically Disadvantaged"""
204,204,"""Hispanic or Latino""","""Ethnicity for Economically Disadvantaged"""
205,205,"""Native Hawaiian or Pacific Islander""","""Ethnicity for Economically Disadvantaged"""
206,206,"""White""","""Ethnicity for Economically Disadvantaged"""
207,207,"""Ethnicity -- Two or More Races""","""Ethnicity for Economically Disadvantaged"""
220,220,"""Black or African American""","""Ethnicity for Not Economically Disadvantaged"""
221,221,"""American Indian or Alaska Native""","""Ethnicity for Not Economically Disadvantaged"""
222,222,"""Asian""","""Ethnicity for Not Economically Disadvantaged"""
223,223,"""Filipino""","""Ethnicity for Not Economically Disadvantaged"""
224,224,"""Hispanic or Latino""","""Ethnicity for Not Economically Disadvantaged"""
225,225,"""Native Hawaiian or Pacific Islander""","""Ethnicity for Not Economically Disadvantaged"""
226,226,"""White""","""Ethnicity for Not Economically Disadvantaged"""
227,227,"""Ethnicity -- Two or More Races""","""Ethnicity for Not Economically Disadvantaged"""

In [29]:
df['Students Tested'].unique()

array([   nan,    44.,    38., ...,  3854.,  4131.,  4366.])

In [36]:
df.groupby(df['County Code']).size()

County Code
1     12541
2       290
3      1040
4      6578
5      2130
6      2144
7     10292
8      1082
9      6636
10    15555
11     3704
12    10790
13     6753
14     2580
15    21299
16     6308
17     3544
18     3466
19    50062
20     4736
21     7504
22      666
23     5451
24     9634
25     1504
26     1120
27    10696
28     2582
29     3960
30    16763
31     8127
32      814
33    16310
34     8754
35     3408
36    20085
37    22316
38     1208
39     9331
40     5836
41    11972
42     8946
43    17001
44     5076
45     9813
46      420
47     7219
48     4510
49    16979
50    13464
51     5116
52     5428
53     2470
54    18186
55     4098
56    10503
57     3590
58     2600
dtype: int64

In [46]:
ethnicity_sg= [74,75,75,77,78,79,80,144]
#df.loc[df['Language'].apply(lambda x: x in ['C', 'C++'] )]
df_ethnicity = df.loc[df['Subgroup ID'].apply(lambda x: x in ethnicity_sg)]

In [48]:
df_ethnicity.head()

,County Code,District Code,Subgroup ID,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores
58,1,10017,74,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,1,10017,74,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,1,10017,74,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1,10017,74,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,1,10017,74,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df_ethnicity=df_ethnicity.dropna()

In [50]:
df_ethnicity.head()

,County Code,District Code,Subgroup ID,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores
64,1,10017,74,11,2,72.0,22.0,2403.7,0.0,0.00,0.00,0.00,100.00,22.0
65,1,10017,74,11,1,72.0,20.0,2419.6,0.0,0.00,0.00,15.00,85.00,20.0
86,1,10017,78,11,2,51.0,16.0,2431.3,0.0,0.00,0.00,6.25,93.75,16.0
87,1,10017,78,11,1,51.0,12.0,2464.9,0.0,8.33,8.33,33.33,58.33,12.0
647,1,31617,78,8,2,13.0,13.0,2375.8,0.0,7.69,7.69,0.00,92.31,13.0

In [53]:
df_ethnicity.to_csv (r'assessment_ethnicity.csv', index = False, header=True)

In [52]:
df.head(40)

,County Code,District Code,Subgroup ID,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores
0,1,10017,1,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10017,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10017,1,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,10017,1,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,10017,1,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,10017,1,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,10017,1,11,2,151.0,44.0,2412.8,0.0,0.00,0.00,4.55,95.45,44.0
7,1,10017,1,11,1,150.0,38.0,2435.4,0.0,5.26,5.26,21.05,73.68,38.0
8,1,10017,1,13,2,177.0,51.0,NaN,0.0,0.00,0.00,3.92,96.08,51.0
9,1,10017,1,13,1,175.0,44.0,NaN,0.0,4.55,4.55,18.18,77.27,44.0
10,1,10017,3,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,10017,3,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1,10017,3,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,10017,3,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,10017,3,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,10017,3,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1,10017,3,11,1,96.0,26.0,2423.2,0.0,3.85,3.85,19.23,76.92,26.0
17,1,10017,3,11,2,96.0,31.0,2407.4,0.0,0.00,0.00,6.45,93.55,31.0
18,1,10017,3,13,2,117.0,36.0,NaN,0.0,0.00,0.00,5.56,94.44,36.0
19,1,10017,3,13,1,116.0,30.0,NaN,0.0,3.33,3.33,16.67,80.00,30.0
20,1,10017,4,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1,10017,4,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1,10017,4,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1,10017,4,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,10017,4,11,2,55.0,13.0,2425.5,0.0,0.00,0.00,0.00,100.00,13.0
25,1,10017,4,11,1,54.0,12.0,2461.8,0.0,8.33,8.33,25.00,66.67,12.0
26,1,10017,4,13,2,60.0,15.0,NaN,0.0,0.00,0.00,0.00,100.00,15.0
27,1,10017,4,13,1,59.0,14.0,NaN,0.0,7.14,7.14,21.43,71.43,14.0
28,1,10017,6,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1,10017,6,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1,10017,6,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1,10017,6,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1,10017,6,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1,10017,6,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,1,10017,6,11,1,126.0,35.0,2436.0,0.0,5.71,5.71,20.00,74.29,35.0
35,1,10017,6,11,2,127.0,40.0,2419.5,0.0,0.00,0.00,5.00,95.00,40.0
36,1,10017,6,13,2,147.0,45.0,NaN,0.0,0.00,0.00,4.44,95.56,45.0
37,1,10017,6,13,1,146.0,40.0,NaN,0.0,5.00,5.00,17.50,77.50,40.0
38,1,10017,7,11,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1,10017,7,11,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#df_math_assessment = df_ethnicity[df_ethnicity['Test Id']==2]
#df_litheracy_assessment = df_ethnicity[df_ethnicity['Test Id']==1]

In [39]:
#df_math_assessment['Subgroup ID'].unique()

array([  1,   3,   4,   6,   7,   8,  31,  74,  76,  77,  78,  79,  80,
        90,  91,  92,  93,  94,  99, 111, 121, 128, 142, 144, 160, 170,
       180, 200, 202, 204, 205, 206, 207, 220, 222, 223, 224, 225, 226,
       227, 120, 203,  75, 201, 221, 190,  28])

In [38]:
#df_math_assessment.head()

,County Code,District Code,Subgroup ID,Grade,Test Id,CAASPP Reported Enrollment,Students Tested,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,Students with Scores
0,1,10017,1,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10017,1,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,10017,1,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,10017,1,11,2,151.0,44.0,2412.8,0.0,0.0,0.0,4.55,95.45,44.0
8,1,10017,1,13,2,177.0,51.0,NaN,0.0,0.0,0.0,3.92,96.08,51.0

In [186]:
#df_litheracy_assessment['County Code'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58])

In [120]:
#df_math_g3.to_csv (r'math_g3_district.csv', index = False, header=True)